[run]
branch = true
source = marshmallow3_annotations
omit =
    __meta__.py
parallel = true

[paths]
source =
   src/marshmallow3_annotations/
   .tox/*/lib/*/site-packages/marshmallow3_annotations/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug:
    if settings.DEBUG
    raise NotImplementedError
    if 0:
    if False:
    if __name__ == .__main__.:
    @abstractmethod
    pragma: no branch

fail_under = 80
precision = 2
show_missing = true
skip_covered = false

[html]
directory = test/htmlcov
